#footer {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F3EF;
    border-radius: 1.5rem;
    margin: 0.5rem;
}

#github {
    padding: 0.2rem 0.2rem;
    border: 0.1rem solid black;
    background-color: black;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
}