#header {
    flex-shrink: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    align-content: center;
    font-size: 35px;
    padding: 0.5rem 0;
    gap: 1.5rem;
}

.links { 
    padding: 0.5rem 1rem;
    border-left: 0.1rem solid royalblue;
    border-right: 0.1rem solid royalblue;
    border-top: 0;
    border-bottom: 0;
    border-radius: 1rem;
    color: royalblue;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    min-width: 5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.links:hover {
    color: white;
    transform: scale(1.1);
    background-color: royalblue;
}